* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

body{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(42, 42, 238, 0.8), rgba(0, 0, 0, 0.8)), url("moon.jpg");
}

.container {
    margin: 0 40px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container h1 {
    color: white;

}

.container.tab {
    position: relative;
    background: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 5px;
    overflow: hidden;
}

.container .tab input {
    appearance: none;

}

.container .tab label {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.container .tab label:after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 2em;
    color: rgba(0,0,0,0.1);
    transition: transform 1s;
}

.container .tab:hover label::after {
    color: white;
}

.container .tab input:checked ~ label::after {
    transform: rotate(135deg);
}

.container .tab label h2 {
    width: 40px;
    height: 40px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
}

.container .tab:nth-child(2) label h2 {
    background: linear-gradient(135deg, #70f570, #5728c6);
}
.container .tab:nth-child(3) label h2 {
    background: linear-gradient(135deg, #f5dd70, #c628be);
}
.container .tab:nth-child(4) label h2 {
    background: linear-gradient(135deg, #f5c670, #c62828);
}
.container .tab:nth-child(5) label h2 {
    background: linear-gradient(135deg, #70b9f5, #7a28c6);
}
.container .tab:nth-child(6) label h2 {
    background: linear-gradient(135deg, #ea70f5, #c62830);
}
.container .tab:nth-child(7) label h2 {
    background: linear-gradient(135deg, #f570ea, #6fc628);
}
.container .tab:nth-child(8) label h2 {
    background: linear-gradient(135deg, #f5d270, #c62889);
}
.container .tab:nth-child(9) label h2 {
    background: linear-gradient(135deg, #f5a570, #c62828);
}
.container .tab:nth-child(10) label h2 {
    background: linear-gradient(135deg, #8870f5, #28c69e);
}
.container .tab:nth-child(11) label h2 {
    background: linear-gradient(135deg, #70f5ea, #c65a28);
}

.container .tab label h3 {
    position: relative;
    font-weight: 500;
    color: white;
    z-index: 10;
}

.container .tab .content {
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}

.container .tab input:checked ~ .content {
    max-height: 100vh;

}

.container .tab .content p {
    position: relative;
    padding: 10px 0;
    color: white;
    z-index: 10;
}





