* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8), rgba(0,0,50,0.8)), url("GTR.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.white-box {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center; 
    border-radius: 10px;
}

.white-box h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.white-box label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left; /* Align the label text to the left */
}

.white-box h3 {
    margin-bottom: 20px; /* Add margin to separate each piece of information */
    text-align: left; /* Align the information text to the left */
}

/* Styles for the blue button */
.blue-button {
    background-color: #007bff; /* Blue color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    transition: background-color 0.3s ease; /* Smooth hover effect */

    margin-top: 10px; /* Add margin to the top */
    margin-left: 10px; /* Add margin to the left */
    margin-right: 10px
 
}

.blue-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
