body {
    background: url("https://imageio.forbes.com/specials-images/imageserve/604bd0c6d9c87e3b8f59de0c/0x0.jpg?format=jpg&width=1200");
}

.top-container {
    display: flex;
    justify-content: space-between;  /* Distributes items evenly */
    align-items: center;  /* Vertically center items */
    padding: 10px 0;  /* Some padding to give it some space */
    color: #fff; /* White text color */
}

.bubble-button {
    position: relative;
    top: -20px;
    margin: 15px;
    display: inline-block; /* Changed from block to inline-block */
    width: 100px;
    padding: 10px 15px;
    font-size: 18px;
    text-align: left;
    border-radius: 0%;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}


.Panelbubble-button
{
    position: relative;
    top: -40px;
    margin: 20px;
    display: block;
    width: 100px;
    padding: 10px 15px;
    font-size: 18px;
    text-align: left;
    border-radius: 0%;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
}

.side-panel {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    width: 250px;
    height: 100%;
    background-color: #403d3d;
    transition: 0.3s;
    padding-top: 60px;
    color: #ffffff;
    z-index: 1000;
}

.menu-button {
    margin-top: -25px;  /* Adjust as needed */
}


.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
}

/* Styles for the search bar and button */
.search-container {
    position: relative;
    right: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 200px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}


.Home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("HomeWallpaper.jpg");
    background-position: center;
    background-size: cover;
}
