.top-container {
    display: flex;
    justify-content: space-between; /* Distributes items to start and end */
    align-items: center; /* Vertically center items */
    padding: 10px;
    color: #fff; /* White text color */
}

.bubble-button {
    position: relative;
    top: -20px;
    margin: 15px;
    display: inline-block; /* Changed from block to inline-block */
    width: 100px;
    padding: 10px 15px;
    font-size: 18px;
    text-align: left;
    border-radius: 0%;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}

.Panelbubble-button
{
    position: relative;
    top: -40px;
    margin: 20px;
    display: block;
    width: 100px;
    padding: 10px 15px;
    font-size: 18px;
    text-align: left;
    border-radius: 0%;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
}

.side-panel {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    width: 250px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
    padding-top: 60px;
    color: #ffffff;
    z-index: 1000;
}

.menu-button {
    cursor: pointer;
    font-size: 35px;
    color: white;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
}

.search-container {
    flex: 1; /* Allows the container to grow and take up available space */
    display: flex;
    justify-content: center; /* Centers the search bar within the search-container */
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 100%; /* Adjust width as necessary */
    max-width: 300px; /* Prevents the search bar from getting too wide */
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}


.top-right-buttons {
    display: flex;
    align-items: center;
}


.top-right-buttons button {
    margin-left: 10px; /* Space between buttons */
    
}
