.bubble-button {
    position: relative;
    top: 15px;
    display: block;
    width: 100px;
    padding: 10px 15px;
    margin: 50px;
    font-size: 18px;
    text-align: left;
    border-radius: 0%;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap; /* Prevent line breaks */
}

.Newbubble-button 
{
    position: relative;
    top:-260px;
    left: 400px;
    display: block;
    width: 100px;
    padding: 10px 15px;
    margin: 50px;
    font-size: 18px;
    text-align: left;
    border-radius: 0%;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap; /* Prevent line breaks */
}

/* Style for search bar */
.search-bar {
    position: relative;
    left: 130px;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    display: inline-block;
}

/* Style for side panel */
.side-panel {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #403d3d;
    transition: 0.3s;
    padding-top: 60px;
    color: #ffffff;
}

/* Style for close button in side panel */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.top-bar {
    font-size: 30px; 
    cursor: pointer;
    display: flex;
    align-items: center;
}

