.bubble-button {
    display: block;
    width: 100px;
    padding: 5px 10px;
    margin: 3px;
    font-size: 16px;
    text-align: left;
    border-radius: 0%;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap; /* Prevent line breaks */
}

/* Style for search bar */
.search-bar {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    display: inline-block;
}

/* Style for side panel */
.side-panel {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: 0.3s;
    padding-top: 60px;
    color: #fff;
}

/* Style for close button in side panel */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Additional styles for layout */
.button-container {
    position: fixed;
    left: 0;
    top: 13%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar {
    font-size: 30px; 
    cursor: pointer;
    display: flex;
    align-items: center;
}